# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*.iml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/codeStyles/codeStyleConfig.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules/client-lib/markovdb.client-lib.iml
.idea/modules/client-lib/markovdb.client-lib.main.iml
.idea/modules/client-lib/markovdb.client-lib.test.iml
.idea/modules/client/markovdb.client.iml
.idea/modules/client/markovdb.client.main.iml
.idea/modules/client/markovdb.client.test.iml
.idea/modules/MarkovDB.iml
.idea/modules/markovdb.main.iml
.idea/modules/markovdb.test.iml
.idea/modules/server/markovdb.server.iml
.idea/modules/server/markovdb.server.main.iml
.idea/modules/server/markovdb.server.test.iml
.idea/sonarIssues.xml
.idea/vcs.xml
